* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --firstColor: #ea0000;
  --secondColor: #2a333e;
  --thirdColor: #fff;
}

body {
  font-family: "Abhaya Libre", serif;
  overflow-x: hidden;
}

/* ////General Style//// */
input,
button {
  border: none;
  outline: none;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--secondColor);
}

.container {
  width: 92%;
  margin: 0 auto;
}
.container2 {
  width: 85%;
  margin: 0 auto;
}
button {
  display: block;
  background-color: var(--firstColor);
box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);  border-radius: 1% 99% 13% 87% / 94% 3% 97% 6%;
  -webkit-border-radius: 1% 99% 13% 87% / 94% 3% 97% 6%;
  -moz-border-radius: 1% 99% 13% 87% / 94% 3% 97% 6%;
  -ms-border-radius: 1% 99% 13% 87% / 94% 3% 97% 6%;
  -o-border-radius: 1% 99% 13% 87% / 94% 3% 97% 6%;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
 
  color: var(--thirdColor);
}

.flex {
  display: flex;
}

.title_section {
  text-align: center;
  margin-bottom: 7rem;
}

.title_section p {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: center;
}
.title_section h2 {
  font-family: Abhaya Libre ExtraBold;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: -0.08em;
  color: var(--firstColor);
}
/* ////End General Style//// */

/* ////Header//// */

header nav {
  justify-content: space-between;
  background-color: var(--thirdColor);
  padding: 3.438rem 0 8.75rem 0;
  /* position: relative; */
}
header nav ul {
  position: relative;
  left: -100px;
}

header nav ul li {
  display: inline;
  margin-left: 40px;
  padding: 3px;
}
header nav ul li a {
  font-family: Poppins;
  font-size: 17px;
  font-weight: 550;
  line-height: 26px;
}
header nav ul li:first-child {
  border-bottom: solid 2px #ea0000;
}

.nav_right {
  justify-content: space-between;
  margin-left: 40px;
}

.nav_right div {
  margin: 0 10px;
  display: inline;
  /* border: solid 1px red; */
}

#xMenu{
  display: none;
}

#burger_menu{
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* classes from js  */

.showList{
      background-color: rgb(255, 255, 255);
      position: fixed;
      bottom: -100px;
      display: none;
      display: flex;
      flex-direction: column;
      text-align: center;
        
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        padding: 30% 20%;


    }

/* ////End Header//// */
/* ////Hero//// */
.hero {
  margin-bottom: 7.125rem;
  position: relative;
}

.hero_warpper{
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero_right {
  position: relative;
  top: -60px;
  width: 50%;
  z-index: -1;
}
.hero_right img {
  width: 100%;
}
.hero_left {
  width: 50%;
}

.hero_left p:first-child {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--firstColor);
  margin-bottom: 35px;
}
.hero_left p:nth-child(3) {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 520;
  line-height: 33px;
  letter-spacing: 0em;
  margin-bottom: 65px;

}
.hero_left h1 {
  font-family: Abhaya Libre ExtraBold;
  font-size: 182px;
  font-weight: 800;
  line-height: 100px;
  letter-spacing: -0.08em;
  color: var(--firstColor);
  margin-bottom: 34px;
}

.hero_left button {
  display: inline;
  width: 200px;
  height: 65px;
}
 button:nth-child(4) {
  background-color: var(--firstColor);
  box-shadow: 0px 1.8518518209457397px 8px 0px #ea0023;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  color: var(--thirdColor);
}
 button:nth-child(5) {
  background-color: var(--secondColor);
  box-shadow: 0px 1.8518518209457397px 8px 0px #2a333e;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  color: var(--thirdColor);
}

.data_hero {
  display: flex;
  margin-top: 80px;
}

.Lunch,
.dinner {
  width: 200px;
  height: 100px;
  color: var(--secondColor);
}
.Lunch h4,
.dinner h4 {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}
.Lunch p,
.dinner p {
  opacity: .5;

}

.abs1 {
  position: absolute;
  top: 150px;
}
/* ////Hero//// */
/* products */
.products {
  margin-bottom: 17.188rem;
}

.product_card{
  justify-content: space-between;
  flex-wrap: wrap;
}
.cardPro{
  text-align: center;
  margin: 2rem auto;
}
.cardPro img:nth-child(1){
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 14px 20px 0px #2a333e69;
  margin-bottom: 30px;
}
.cardPro img:nth-child(2){
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  
}

.cardPro p {
  font-family: Poppins;
  font-size: 0.938ren;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  color: var(--secondColor);
  text-align: center;
}
.cardPro b {
  font-family: Poppins;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}

.cardPro button{
  margin: 0 auto;
  padding: 10px 15PX;
  margin-top: 25px;
  background-color: var(--firstColor);
  padding: 15px 45px;

}

.more-products-wrapper {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10rem;
  position: relative;
}

.more-products-right {
  width: 35%;
  align-items: center;
  justify-content: space-evenly;
}
.more-products-left {
  position: relative;
}

.btn-primary button{
  background: var(--firstColor);
  box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
  border-radius: 10px;
  padding: 1rem 2rem;
  color: white;
  position: relative;
  border: 0;
}

.btn-primary button::after{
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--firstColor);
  transform-origin: bottom left;
  transform: skew(-30deg, 0deg);
  border-radius: 10px;
}

.more-products-list {
  list-style: none;
  height: 60vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.more-products-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
}

.more-products-list li img {
  background: var(--thirdColor);
  box-shadow: 0px 32.0065px 42.6753px rgba(122, 122, 122, 0.08);
  border-radius: 10.6688px;
}
.more-products-list li p,
.more-products-list li span {
  padding-left: 1.875rem;
  padding-right: 3rem;
  font-weight: 600;
  font-size: 14.61px;
  line-height: 17px;
  text-transform: capitalize;
}

.more-products-list li span {
  color: var(--thirdColor);
}

.more-products-list li p {
  color: var(--secondary-color);
}

.more-products-list li:first-child {
  background: var(--firstColor);
  border-radius: 10px;
  color: var(--white);
  position: relative;
  border: 0;
}
.more-products-list li:first-child::after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--primary-color);
  transform-origin: bottom left;
  transform: skew(-30deg, 0deg);
  border-radius: 10px;
}

.more-products-left {
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 70vh;
  padding-left: 5rem;
  background: rgb(254, 242, 242);
  border-radius: 30.4376px;
}
.more-products-left .para {
  width: 60%;
}
.more-products-left h2 {
  font-size: 3.375rem;
  line-height: 3.25rem;
}
.more-products-left-title {
  padding: 7px 22px;
  display: flex;
  align-items: center;
  background: rgb(255, 208, 208);
  border: 1.2175px solid rgb(252, 189, 189);
  border-radius: 60.8751px;
}
.more-products-left-title p {
  display: flex;
  align-items: center;
}

.more-products-wrapper .Decor {
  position: absolute;
  left: 40%;
  top: 55%;
}

.more-products-wrapper .coffee {
  position: absolute;
  right: 0;
  top: 55%;
}
.coffee img{
  width: 70%;
}


.more-products-wrapper .leaf{
  position: absolute;
  right:25%;
  top: -5%;
}

/* ================ */

.populer{
  margin-bottom: 120px;
}

.card_warpper {
  justify-content: space-between;
  flex-wrap: wrap;

}


.populer_card {
  box-shadow: 0px 46px 100px -31px #0000001A;
  width: 30%;
  background-color: var(--thirdColor);
  border-radius: 24px;
  border: 1.2px solid #efefef;
  padding: 20px 20px;
  margin: 20px 0;
}

.card_img {
  margin: 0 auto;
  margin-bottom: 15px;
  overflow: hidden;
  justify-content: center;
  border-radius: 50%;
  overflow: visible;
  
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.card_img img {
  border-radius: 50%; 
  box-shadow: 0px 8px 20px 0px grey;
}

.populer_card b {
  margin-bottom: 10px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.populer_card p {
  margin-bottom: 20px;
  font-family: Poppins;
  max-width: 80%;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.01em;
  text-align: left;
}

.card_foot{
  
}
.card_foot img {
  width: 70%;
  height: 70%;
}
.populer_card_icon {
  justify-content: space-between;
}

.populer_card_icon p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.populer_card_icon {
  text-align: center;
  /* border: solid 1px red; */
}

/* =================download============ */
.download {
  background-color: rgb(254, 242, 242);
  padding: 100px 200px;
  position: relative;
  margin-bottom: 100px;
}

.downlaod_wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
}

.downlaod_left{
  width:50%;
}
.downlaod_left img{
  width: 100%;
}
.downlaod_right {
  width: 50%;
  margin-top: 20%;
}

.downlaod_right b {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.04em;
  text-align: center;
  margin-bottom: 10px;
}

.downlaod_right h2 {
  font-family: Abhaya Libre ExtraBold;
  font-size: 62px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: -0.08em;
  text-align: left;
  color: var(--firstColor);
  margin-bottom: 20px;

}
.downlaod_right p {
  font-family: Poppins;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 70px;
  
}
.Decore2{
  /* position: relative; */
  position: absolute;
  bottom: 23%;
  left:  20%;
}
/* ========================================= */

.Testimonial_wrapper{
  flex-wrap: wrap;


}
.card_Testimon {
  justify-content: space-evenly;
  width: 50%;
  

}
.Testimon_text {
  margin-left: 20px;
}
.Testimon_text p {
  margin-bottom: 10px;
  width: 80%;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.Testimon_text p  span{
  
}
.Testimon_text div {
  margin-bottom: 10px;
}
.Testimon_text h4 {
  margin-bottom: 10px;
}

.def{
  color: var(--firstColor);
  font-weight: 800;
}






.Discounts {
  position: relative;
  border: solid 1px #ea0000;
  width: 70%;
  margin: 50px auto;
  border-radius: 40px;
  padding: 31px;
  text-align: center;
  position: relative;
  background-color: #fff;
  top: 150px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.Discounts h4 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 900;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 34px;
  position: relative;
}
.Discounts h4 img{
  position: absolute;
  bottom: -130%;
  right: 35%;
}
.Discounts p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 25px;
}

.Discounts_btn {
  display: flex;
  justify-content: space-between;
  border: solid 1px #ea0000;
  width: 60%;
  margin: 0 auto;
  border-radius: 40px;
  padding: 5px;
  position: relative;
}
.Discounts_btn input:nth-child(1) {

  /* border: solid 1px #ea0000; */
  margin-left: 10px;
  
}

.Discounts_btn input:nth-child(2) {
  background-color: #ea0000;
  color: #fff;
  margin-right: 0;

  height: 46px;
  width: 116px;
  /* left: 852px; */
  /* top: 224px; */
  border-radius: 47px;
}

/* =========================================== */

footer {
  background-color: #2a333e;
  padding: 160px 0 14px 0;
  color: #fff;
}

.footTop {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 68px;
}

.footTop h4 {
  margin-bottom: 30px;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  /* letter-spacing: 0em; */
  text-align: left;
}
.footTop p {
  margin-bottom: 22px;
  line-height: 1.5rem;
}

.footInfo {
  margin-right: 80px;
}

.footButton {
  text-align: center;
}

.logo_footer {
  margin-bottom: 60px;
}

.social img,
i {
  margin-right: 14px;
}
